.ui-tabs-nav li.prelude_hidden {
   margin: 0;
   border: 0 !important;
   display: none;
}

.prelude-delete-bloc {
   float:  right;
}

#add_alerts .field {
   margin-bottom: 10px;
}

#add_alerts label {
   display: block;
   width: 100%;
   font-weight: bold;
}

#add_alerts input[type=text] {
   width: 250px;
   margin-bottom: 2px;
   display: block;
}

#add_alerts .add_criterion {
   vertical-align: middle;
   float: right;
}

input.toggle_prelude {
   position:absolute;
   appearance:none;
   left:-100%;
   top:-100%;
}

input.toggle_prelude:checked ~ .togglable {
   display: none
}

input.toggle_alert ~ label {
   cursor: pointer;
   padding-left: 20px;
   background: url(../../../pics/collapse.png) no-repeat;
}
input.toggle_alert ~ label > sup {
   border-radius: 50%;
   background-color: #FFF;
   min-width: 18px;
   display: inline-block;
   text-align: center;
   vertical-align: top;
   padding: 3px 2px 5px;
   box-sizing: border-box;
   margin: 5px 5px 5px 0;
}

input.toggle_alert:checked ~ label {
   background: url(../../../pics/expand.png) no-repeat;
}

.prelude_criterion {
   display: inline-block;
   height: 25px;
   font-size: 10px;
   color: rgba(0,0,0,0.6);
   line-height: 25px;
   padding: 0 12px;
   border-radius: 16px;
   background-color: #e4e4e4;
   margin-bottom: 5px;
   margin-right: 5px;
}

#add_iodef {
   margin-top: 20px;
   padding-top: 10px;
   border-top: 1px solid #DEDEDE;
   position: relative;
}

#add_iodef form,
#send_iodef_email form {
   text-align: left;
   width: 600px;
   margin:  20px auto;
   overflow: hidden;
}

#add_iodef h2,
#send_iodef_email h2 {
   background: #E0E0E0;
   text-align: center;
   padding: 5px;
}

#add_iodef h3 {
   border-bottom: 1px solid #E0E0E0;
}

.iodef_field {
   width: 50%;
   float: left;
   padding: 5px 0;
   min-height: 55px;
}

#send_iodef_email .iodef_field {
   min-height: 30px;
}

.iodef_field.full_width {
   width: 100%;
}

.iodef_field input:not(:valid),
.iodef_field textarea:not(:valid) {
   border-right: 3px solid red;
}

#add_iodef .clearfix {
   clear: left;
}

.iodef_field label:not([for]) {
   display: block;
}

.iodef_field label[for] {
   cursor: pointer;
}

.iodef_field label:not([for]) + input,
.iodef_field label:not([for]) + textarea,
.iodef_field label:not([for]) + .select2-container {
   display: block;
   width: calc(100% - 25px);
}

.iodef_field label:not([for]) + .main {
   width: 65%;
   display: inline-block;
}

.iodef_field label:not([for]) + .main + .select2-container {

}

.iodef_field label:not([for]) + input,
.iodef_field label:not([for]) + textarea {
   background-color: #FCFCFC;
   color: black;
   border: 1px solid #D3D3D3;
   font-size: 11px;
   border-radius: 3px;
   padding: 0 5px;
}

.iodef_field label:not([for]) + textarea {
   height: 100px;
}

.iodef_field .radio_group {
   display: block;
}

.iodef_field .radio_group input[type=radio] {
   display: none;
}

.iodef_field .radio_group label {
   background-color: #f1f1f1;
   border: 1px solid #D3D3D3;
   border-right-width: 0;
   padding:  5px;
   box-sizing: border-box;
   display: inline-block;
   min-width: 65px;
   text-align: center;
   vertical-align: top;
   height: 30px;
}

.iodef_field .radio_group input[type=radio]:checked + label {
   border-style: inset;
   border-width: 1px 1px 6px 1px;
   font-weight: bold;
}

.iodef_field .radio_group label.blue {
   color: #FFF;
   background-color: #31b0d5;
   border-color: #417B8C;
}

.iodef_field .radio_group label.orange {
   color: #222;
   background-color: #ec971f;
   border-color: #92631F;
}

.iodef_field .radio_group label.red {
   color: #FFF;
   background-color: #d9534f;
   border-color: #8C3935;
}

.iodef_field .radio_group label.green {
   color: #000000;
   background-color: #5cb85c;
   border-color: #397639;
}

.iodef_field .radio_group label.first {
   border-top-left-radius: 3px;
   border-bottom-left-radius: 3px;
}
.iodef_field .radio_group label.last {
   border-right-width: 1px;
   border-top-right-radius: 3px;
   border-bottom-right-radius: 3px;
}